
    <header class="masthead text-center text-white" 
    style="margin: -2% -10% 0% -10%;
    padding: 15%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSLFEWVHxB2Bp_Ewtt8xbZ059fcbOXEOFJmNg&usqp=CAU);">
      <div class="masthead-content"">
        <div class="container">
          <br><br>
          <h1 class="masthead-heading mb-0"> / Leave It To Us /</h1> <br> <br>
          <a href="/users/new" class="btn btn-outline-light">سجل معنا</a>
          <br><br>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
  
    <section>
      <div class="container" style="margin-top: 10%;">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" style="height: 200px;" src="https://i.pinimg.com/originals/03/8d/4d/038d4d09e4ce8ef6c761f95752534b3c.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Leave It To Us</h2>
              <p> واجهت مشكلة أثناء إستخدامك للمشروع ؟ دعها لنا للتعامل معها فقط إرفع طلب للمشكلة ومطوريننا بالخدمة.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section>
      <div class="container" style="margin-top: 10%;">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" style="height: 200px;" src="https://www.pngitem.com/pimgs/m/243-2430290_transparent-school-technology-clipart-educational-technology-clip-art.png" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5" style="text-align: right;">
              <h2 class="display-4">رؤيتنا</h2>
              <p> نسعى الى تطوير العالم البرمجي من خلال التركيز على تطوير وتحسين خدماتنا وخدمات المشاريع الأخرى  </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section style=" margin-top:20%;">
      <div class="card-deck">
        <div class="card">
          <img src="https://i.pinimg.com/originals/4b/94/7c/4b947cf4ae647d7cf609be2536855a96.jpg" class="card-img-top" alt="...">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">رفع تقرير</h5>
            <p class="card-text"> نوفر لك خدمة رفع تقرير عن المشكلة للمطورين </p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="https://www.pngkit.com/png/detail/119-1192656_tech-icon.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </section>


