
    <header class="masthead text-center text-white" 
    style="margin: -2% -10% 0% -10%;
    padding: 15%;
    background-image: url(https://nzdigital.co.nz/wp-content/uploads/2019/05/nzd-theme-background-header.jpg);">
      <div class="masthead-content"">
        <div class="container">
          <br><br>
          <h1 class="masthead-heading mb-0"> / Leave It To Us /</h1> <br> <br>
          <a href="/users/new" class="btn btn-outline-light">سجل معنا</a>
          <br><br>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>
  
    <section>
      <div class="container" style="margin-top: 10%;">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" style="height: 200px;" src="https://i.pinimg.com/originals/03/8d/4d/038d4d09e4ce8ef6c761f95752534b3c.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">Leave It To Us</h2>
              <p> واجهت مشكلة أثناء إستخدامك للمشروع ؟ دعها لنا للتعامل معها فقط إرفع طلب للمشكلة ومطوريننا بالخدمة.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section>
      <div class="container" style="margin-top: 10%;">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" style="height: 200px;" src="https://www.pngitem.com/pimgs/m/243-2430290_transparent-school-technology-clipart-educational-technology-clip-art.png" alt="">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5" style="text-align: right;">
              <h2 class="display-4">رؤيتنا</h2>
              <p> نسعى الى تطوير العالم البرمجي من خلال التركيز على تطوير وتحسين خدماتنا وخدمات المشاريع الأخرى  </p>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section style=" margin-top:20%;">
      <div class="card-deck">
        <div class="card">
          <img style="height: 230px;"  src="https://png.pngtree.com/png-vector/20190809/ourlarge/pngtree-book-idea-novel-story-abstract-flat-color-icon-template-png-image_1652569.jpg" class="card-img-top" alt="...">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">سهولة الإستخدام</h5>
            <p class="card-text"> نوفر لك واجهات بسيطة بحيث يسهل التعامل معها لغير المتخصصين بالأقسام الأخرى  </p>
          </div>
        </div>
        <div class="card">
          <img style="height: 230px;" src="https://png.pngtree.com/png-vector/20190811/ourlarge/pngtree-find-search-view-glass-abstract-flat-color-icon-template-png-image_1656137.jpg" class="card-img-top" alt="...">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">خاصية البحث</h5>
            <p class="card-text">يمكنك البحث عن تقرير قبل الرفع للمقارنه وتجنب التكرار</p>
          </div>
        </div>
        <div class="card">
          <img style="height: 230px;" src="https://png.pngtree.com/png-vector/20190618/ourlarge/pngtree-documentfilebasicui-abstract-flat-color-icon-template-png-image_1489041.jpg" class="card-img-top" alt="...">
          <div class="card-body" style="text-align: center;">
            <h5 class="card-title">رفع تقرير</h5>
            <p class="card-text"> نوفر لك خدمة رفع تقرير عن المشكلة للمطورين </p>
          </div>
        </div>
      </div>
    </section>


