<html>
    <head>
        <title>Review</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body style="background-color:whitesmoke;">
        <div class="container">
            <div class="row">
              <div class="col">
        <div class="container text-right">
            <% if (flashMessages){ %>
                <% if (flashMessages.success){ %>
                    <div class="alert alert-success"> <%= flashMessages.success %> </div>
                    <%} else if (flashMessages.error){ %>
                        <div class="alert alert-danger"> <%= flashMessages.error %> </div>    
                        <% } %>
                     <% } %>
              </div>
              </div>
        </div>
        <%- body %>
        
    </body>
</html>