<form action="/bugs/<%=bug._id%>/update?_method=PUT" method="post">
  <div style="text-align: right;">
    <div class="form-group">
        <label>العنوان </label>
        <input type="text" class="form-control" name="title" value="<%=bug.title%>">
      </div>

      <div class="form-group">
        <label>الوصف</label>
        <textarea name="description" class="form-control" cols="30" rows="10"><%=bug.description%></textarea>
      </div>

      <label>الأولوية</label>
      <select class="form-control" name="priority">
        <option value="low">قليلة</option>
        <option value="medium">متوسطة</option>
        <option value="high">عالية</option>
      </select> <br>
      </div>
      <button type="submit" class="btn btn-primary">تحديث</button>

</form>