<div align="center">
  <div class="col-8">

<form action="/bugs/create" method="post">
<div style="text-align: right;">
    <div class="form-group">
        <label>العنوان </label>
        <input type="text" class="form-control" name="title" placeholder="أدخل عنوان المشكلة">
      </div>

      <div class="form-group">
        <label>الوصف</label> <br>
        <textarea name="description" placeholder="أدخل وصف المشكلة" class="form-control"  cols="30" rows="10"></textarea>
      </div>
      <label>الأولوية</label>
      <select class="form-control" name="priority">
        <option value="low">قليلة</option>
        <option value="medium">متوسطة</option>
        <option value="high">عالية</option>
      </select> <br>

      <label>المشروع</label>
      <select class="form-control" name="project">
        <% programs.forEach(program=>{ %>
        <option value="<%=program._id%>"><%=program.title%></option>
        <% })%>
      </select> <br>

      <div class="form-group">
        <label>صورة</label>
        <input type="text" placeholder="أرفق رابط صورة إن وجد" class="form-control" name="image">
      </div>
      </div>
      
      <div style="text-align: left;">
      <button type="submit" class="btn btn-primary">إنشاء</button>
    </div>

</form>
</div>
</div>
