<form action="/bugs/create" method="post">

    <div class="form-group">
        <label>title: </label>
        <input type="text" class="form-control" name="title" placeholder="insert the bug title">
      </div>

      <div class="form-group">
        <label>Description:</label> <br>
        <textarea name="description" class="form-control"  cols="30" rows="10"></textarea>
      </div>

      <select class="form-control" name="priority">
        <option value="low">low</option>
        <option value="medium">medium</option>
        <option value="high">high</option>
      </select>

      <div class="form-group">
        <label>image</label>
        <input type="text" class="form-control" name="image">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>

</form>