<div class="container" style="direction: rtl; text-align: center;">
    <form action="/search" method="POST">
        <input type="text" name="title">
        <button type="submit">يحث</button>
    </form>

    <% if(bugs){ %>
    <p>
        <% bugs.forEach(bug => { %>
            
                <div class="card border-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header"><%= bug.title %></div>
                    <div class="card-body text-dark">
                      <h5 class="card-title"><%= bug.status %></h5>
                      <p class="card-text"><%= bug.description %></p>
                    </div>
                  </div>
                
            
            <% })%>
    </p>
    <%}else{%>  <p>no data found</p> <%}%>


</div>

