<div align="center">
  <div class="col-8"> 

<form action="/programs/<%=program._id%>/update?_method=PUT" method="post">

  <div style="text-align: right;">

    <div class="form-group">
        <label>العنوان </label>
        <input type="text" class="form-control" name="title" value="<%=program.title%>">
      </div>

      <div class="form-group">
        <label>الوصف</label>
        <textarea name="description" class="form-control" cols="30" rows="10"><%=program.description%></textarea>
      </div>
      </div>
      
      <div style="text-align: left;">
      <button type="submit" class="btn btn-primary">تحديث</button>
    </div>

</form>
</div>
</div>