<div class ="container" align="center">
  <div class="row">
      <div class="col">
          <div class="card" style="width: 50%;">
              <div class="card-body" >

    <h3><%=program.title%></h3>
    <p>وصف البرنامج: <%= program.description %></p>
    </div>
    </div>
    </div>
    </div>