<div class="container" style="margin-top: 10%;">

  <a class="btn btn-primary" href="/users/new"> إضافة مستخدم</a> <br><br>
  
    <table class="table">
        <thead>
          <tr>
            <th scope="col-sm">الإسم</th>
            <th scope="col-sm">تاريخ الميلاد</th>
            <th scope="col-sm">الجنس</th>
            <th scope="col-sm">الإجراءات</th>
          </tr>
        </thead>
        <tbody>
            <% users.forEach(user=>{ %>
          <tr>
            <td><%=user.name%></td>
            <td><%=user.DOB.toDateString()%></td>
            <% if(user.gender&&user.gender){%>
                <td>female</td>
                <%} %>
            <%if(!user.gender){%>
                <td>male</td>
                <%}%>
            <td>
                  <a class="dropdown-item" href="/users/<%= user._id%>/edit">تعديل</a>
                  <a class="dropdown-item" href="/users/<%= user._id%>/delete?_method=delete">حذف</a>
                
            </td>
          </tr>
            <% })%>
        </tbody>
      </table>
    
    </div>